
@{
    ViewBag.Title = "Index";
}

    <header>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="~/css/site.css">

        <!--
            var id = setInterval(function() {
        //call $.ajax here
    }, 30000); // 30 seconds

            https://jsfiddle.net/mayoung/Ctg8C/
            -->
    </header>
<section>

    <!-- breadcrumbs-->
    @*<nav>
            <div class="nav-wrapper" id="breadcrumb">
                <div class="col s12 m12 l12">
                    @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "breadcrumb" })
                </div>
            </div>
        </nav>*@

    <!-- cards como menu. foto com legenda sobre resumo da página-->
    <!-- partial:index.partial.html -->
    <div class="container-fluid text-center">
        <div class="form-group admin-menu">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-3 form-group">
                    <label>Width (px)</label>
                    <input type="number" id="width" class="form-control" value="812" />
                </div>
                <div class="col-sm-2 form-group">
                    <label>Height (px)</label>
                    <input type="number" id="height" class="form-control" value="812" />
                </div>
                <div class="col-sm-2 form-group">
                    <label>&nbsp;</label>
                    <br />
                    <button class="btn btn-primary">Save</button>
                </div>
            </div>
            <div class="btn-group">
                <button class="btn btn-primary rectangle">+ &#9647; Table</button>
                <button class="btn btn-primary chair">+ Chair</button>
                <button class="btn btn-danger remove">Remove</button>
            </div>
        </div>

        <div class="form-group customer-menu" style="display: none;">
            <div class="btn-group">
                <button class="btn btn-success submit">Submit reservation</button>
                <button class="btn btn-warning admin-mode">Admin mode</button>
            </div>
            <br />
            <br />
            <div id="slider"></div>
            <div id="slider-value"></div>
        </div>

        <canvas id="canvas" width="812" height="812"></canvas>
    </div>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <p id="modal-table-id"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.11/fabric.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script src='https://cdn.rawgit.com/leongersen/noUiSlider/master/distribute/nouislider.min.js'></script>
    <script src="~/js/index.js"></script>
</section>