@model ErrorViewModel

@{
    var error = Model?.Error?.Error;
    var request_id = Model?.Error?.RequestId;
}

<div class="error-page">
    <div class="page-header">
        <h1>Usuário não autenticado</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>Bem vindo ao Servidor de Autenticação!</p>
            <div>
                Clique @Html.ActionLink("aqui","RedirectMvc","Home") para retornar para a aplicação Let's Go e se autenticar.
            </div>
    </div>
</div>
